name: Publish

on:
  release:
    types:
      - published

permissions:
  contents: read
  packages: write

jobs:
  publish:
    if: github.event.release.target_commitish == 'main'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
      - name: Checkout
        uses: actions/checkout@v6 

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          registry-url: https://registry.npmjs.org
          cache: yarn
          cache-dependency-path: frontend/yarn.lock

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Build
        run: yarn build

      - name: Publish to Github Packages
        run: yarn npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
